{
   "openapi": "3.0.1",
   "info": {
      "title": "Wisenet Api",
      "version": "v1"
   },
   "servers": [
      {
         "url": "https://api.wisenet.co/v1",
         "description": "Production environment"
      }
   ],
   "paths": {
      "/agents": {
         "get": {
            "tags": [
               "Agent"
            ],
            "summary": "Get Agents",
            "description": "Returns all Agent records.",
            "operationId": "GetAgents",
            "parameters": [
               {
                  "name": "lastModifiedTimeStampFilter",
                  "in": "query",
                  "description": "Filter by LastModifiedTimeStamp (allows additional filter operators as per above)",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "search",
                  "in": "query",
                  "description": "This does a string search on Name and Code",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "agentStatusIdFilter",
                  "in": "query",
                  "description": "Filter by AgentStatusId",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "skip",
                  "in": "query",
                  "description": "Number of records to skip",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "take",
                  "in": "query",
                  "description": "Number of records to take",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "sort",
                  "in": "query",
                  "description": "Field name to sort agents by.  Supported fields are Name and AgentId. Default sorting is by AgentId.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "order",
                  "in": "query",
                  "description": "Order in which agents are sorted.  Supported orders are asc and desc. Default sorting is by asc.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "archivedFlagFilter",
                  "in": "query",
                  "description": "Filter by ArchivedFlag",
                  "schema": {
                     "type": "boolean"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/AgentItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         },
         "post": {
            "tags": [
               "Agent"
            ],
            "summary": "Post Agents",
            "description": "Create Agents.",
            "operationId": "CreateAgents",
            "requestBody": {
               "description": "Agent objects to add",
               "content": {
                  "application/json": {
                     "schema": {
                        "type": "array",
                        "items": {
                           "$ref": "#/components/schemas/AgentRequest"
                        }
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "201": {
                  "description": "Created",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/AgentItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/agents/{id}": {
         "get": {
            "tags": [
               "Agent"
            ],
            "summary": "Get Agent by Id",
            "description": "Returns an Agent for the given Id",
            "operationId": "GetAgent",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the Agent",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/AgentItem"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Agent not found"
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         },
         "put": {
            "tags": [
               "Agent"
            ],
            "summary": "Put Agent by Id",
            "description": "Successfully updated, returns the updated Agent",
            "operationId": "ReplaceAgent",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the Agent",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "requestBody": {
               "description": "New Agent object update with",
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/AgentRequest"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/AgentItem"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Agent not found"
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/assessors": {
         "get": {
            "tags": [
               "Assessor"
            ],
            "summary": "Get Assessors",
            "description": "Returns all Assessor records.",
            "operationId": "GetAssessors",
            "parameters": [
               {
                  "name": "skip",
                  "in": "query",
                  "description": "Number of records to skip",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "take",
                  "in": "query",
                  "description": "Number of records to take",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/AssessorItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/audit-logs": {
         "get": {
            "tags": [
               "AuditLog"
            ],
            "summary": "Get AuditLogs",
            "description": "Returns all AuditLog records.",
            "operationId": "GetAuditLogs",
            "parameters": [
               {
                  "name": "lastModifiedTimeStampFilter",
                  "in": "query",
                  "description": "Filter by LastModifiedTimeStamp (allows additional filter operators as per above)",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "auditActionFilter",
                  "in": "query",
                  "description": "Filter by audit action. Use I for insert, U for update and D for delete.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "entityNameFilter",
                  "in": "query",
                  "description": "Filter by entity name. See entities Entity for list of values.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "skip",
                  "in": "query",
                  "description": "Number of records to skip",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "take",
                  "in": "query",
                  "description": "Number of records to take",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/AuditLogItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/checklists": {
         "get": {
            "tags": [
               "Checklist"
            ],
            "summary": "Get Checklists",
            "description": "Returns all Checklist records",
            "operationId": "GetChecklists",
            "parameters": [
               {
                  "name": "checklistItemIdFilter",
                  "in": "query",
                  "description": "Filter by ChecklistItemId",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "entityNameFilter",
                  "in": "query",
                  "description": "Filter by EntityName",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "recordIdFilter",
                  "in": "query",
                  "description": "Filter by RecordId",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "lastModifiedTimeStampFilter",
                  "in": "query",
                  "description": "Filter by LastModifiedTimeStamp",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "skip",
                  "in": "query",
                  "description": "Number of records to skip",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "take",
                  "in": "query",
                  "description": "Number of records to take",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/ChecklistWrappedItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         },
         "post": {
            "tags": [
               "Checklist"
            ],
            "summary": "Create Checklists",
            "description": "Creates Checklist records",
            "operationId": "CreateChecklists",
            "requestBody": {
               "description": "Checklists objects to add",
               "content": {
                  "application/json": {
                     "schema": {
                        "type": "array",
                        "items": {
                           "$ref": "#/components/schemas/Checklist"
                        }
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "201": {
                  "description": "Created",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/ChecklistWrappedItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/checklists/{id}": {
         "get": {
            "tags": [
               "Checklist"
            ],
            "summary": "Get Checklist by Id",
            "description": "Returns a single Checklist record for a given ChecklistId.",
            "operationId": "GetChecklist",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the Checklist",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ChecklistWrappedItem"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Checklist not found"
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         },
         "put": {
            "tags": [
               "Checklist"
            ],
            "summary": "Replace Checklist",
            "description": "Replaces a Checklist for the given ChecklistId. Ignores changes to ChecklistItemId and RecordId.",
            "operationId": "ReplaceChecklist",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the Checklist",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "requestBody": {
               "description": "New Checklist object to replace the Checklist with",
               "content": {
                  "application/json": {
                     "schema": {
                        "type": "array",
                        "items": {
                           "$ref": "#/components/schemas/Checklist"
                        }
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ChecklistWrappedItem"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Checklist not found"
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/checklist-items": {
         "get": {
            "tags": [
               "ChecklistItem"
            ],
            "summary": "Get ChecklistItems",
            "description": "Returns all Checklist Item records",
            "operationId": "GetChecklistItems",
            "parameters": [
               {
                  "name": "entityNameFilter",
                  "in": "query",
                  "description": "Filter by EntityName",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "typeFilter",
                  "in": "query",
                  "description": "Filter by Type",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "descriptionFilter",
                  "in": "query",
                  "description": "Filter by Description",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "isActiveFilter",
                  "in": "query",
                  "description": "Filter by IsActive",
                  "schema": {
                     "type": "boolean"
                  }
               },
               {
                  "name": "lastModifiedTimeStampFilter",
                  "in": "query",
                  "description": "Filter by LastModifiedTimeStamp",
                  "schema": {
                     "type": "string",
                     "format": "date-time"
                  }
               },
               {
                  "name": "skip",
                  "in": "query",
                  "description": "Number of records to skip",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "take",
                  "in": "query",
                  "description": "Number of records to take",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/ChecklistItemItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/coordinators": {
         "get": {
            "tags": [
               "Coordinator"
            ],
            "summary": "Get Coordinators",
            "description": "Returns all Coordinator records.",
            "operationId": "GetCoordinators",
            "parameters": [
               {
                  "name": "skip",
                  "in": "query",
                  "description": "Number of records to skip",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "take",
                  "in": "query",
                  "description": "Number of records to take",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/CoordinatorItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/courses": {
         "get": {
            "tags": [
               "Course"
            ],
            "summary": "Get Courses",
            "description": "Returns all courses with the option to filter by a string",
            "operationId": "GetCourses",
            "parameters": [
               {
                  "name": "search",
                  "in": "query",
                  "description": "This does a string search on the Code and Description",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "courseCodeFilter",
                  "in": "query",
                  "description": "Filter by Course Code",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "skip",
                  "in": "query",
                  "description": "Number of records to skip",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "take",
                  "in": "query",
                  "description": "Number of records to take",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "lastModifiedTimeStampFilter",
                  "in": "query",
                  "description": "Filter by LastModifiedTimeStamp (allows additional filter operators as per above)",
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/CourseItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/courses/{id}": {
         "get": {
            "tags": [
               "Course"
            ],
            "summary": "Get Course by Id",
            "description": "Returns Course for the given CourseId",
            "operationId": "GetCourse",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the Course",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/CourseItem"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Course not found"
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/course-enrolments": {
         "get": {
            "tags": [
               "CourseEnrolment"
            ],
            "summary": "Get CourseEnrolments",
            "description": "Returns all Course Enrolment records.",
            "operationId": "GetCourseEnrolments",
            "parameters": [
               {
                  "name": "search",
                  "in": "query",
                  "description": "This does a string search on the learner's FirstName, LastName, LearnerNumber and course offer code",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "learnerIdFilter",
                  "in": "query",
                  "description": "Filter by LearnerId",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "learnerNumberFilter",
                  "in": "query",
                  "description": "Filter by LearnerNumber",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "courseOfferIdFilter",
                  "in": "query",
                  "description": "Filter by CourseOfferId",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "applicationStatusIdFilter",
                  "in": "query",
                  "description": "Filter by ApplicationStatusId",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "lastModifiedTimeStampFilter",
                  "in": "query",
                  "description": "Filter by LastModifiedTimeStamp (allows additional filter operators as per above)",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "skip",
                  "in": "query",
                  "description": "Number of records to skip",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "take",
                  "in": "query",
                  "description": "Number of records to take",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "sort",
                  "in": "query",
                  "description": "Field name to sort course enrolments by.  Supported fields are EndDate, LastModifiedTimeStamp and EnquiryDate. Default sorting is by LastModifiedTimeStamp.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "order",
                  "in": "query",
                  "description": "Order in which course enrolments are sorted.  Supported orders are asc and desc. Default sorting is by asc.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "enrolmentStatusIdFilter",
                  "in": "query",
                  "description": "Filter by EnrolmentStatusId",
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/CourseEnrolmentItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         },
         "post": {
            "tags": [
               "CourseEnrolment"
            ],
            "summary": "Create CourseEnrolments",
            "description": "Creates a Course Enrolment with a given Course Enrolment object",
            "operationId": "CreateCourseEnrolments",
            "requestBody": {
               "description": "Course Enrolment objects to add",
               "content": {
                  "application/json": {
                     "schema": {
                        "type": "array",
                        "items": {
                           "$ref": "#/components/schemas/CourseEnrolment"
                        }
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "201": {
                  "description": "Created",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/CourseEnrolmentItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/course-enrolments/{id}": {
         "get": {
            "tags": [
               "CourseEnrolment"
            ],
            "summary": "Get CourseEnrolment by Id",
            "description": "Returns Course Enrolment for the given id",
            "operationId": "GetCourseEnrolment",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the CourseEnrolment",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/CourseEnrolmentItem"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Course Enrolment not found"
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         },
         "put": {
            "tags": [
               "CourseEnrolment"
            ],
            "summary": "Replace CourseEnrolment",
            "description": "Replaces a Course Enrolment for a given CourseEnrolmentId",
            "operationId": "ReplaceCourseEnrolment",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the CourseEnrolment",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "requestBody": {
               "description": "Course Enrolment object to update with",
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/CourseEnrolment"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/CourseEnrolmentItem"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Course Enrolment not found"
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         },
         "patch": {
            "tags": [
               "CourseEnrolment"
            ],
            "summary": "Patch CourseEnrolment",
            "description": "Updates defined Course Enrolment fields for a Course Enrolment record for a given CourseEnrolmentId.",
            "operationId": "PatchCourseEnrolment",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the CourseEnrolment",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "requestBody": {
               "description": "JSON Patch Document operations to perform on course enrolment",
               "content": {
                  "application/json": {
                     "schema": {
                        "type": "array",
                        "items": {
                           "$ref": "#/components/schemas/PatchDocument"
                        }
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/CourseEnrolmentItem"
                        }
                     }
                  }
               }
            },
            "x-public": true
         }
      },
      "/course-offers": {
         "get": {
            "tags": [
               "CourseOffer"
            ],
            "summary": "Get CourseOffers",
            "description": "Returns all Course Offer records.",
            "operationId": "GetCourseOffers",
            "parameters": [
               {
                  "name": "search",
                  "in": "query",
                  "description": "This does a string search on the Code and Description",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "lastModifiedTimeStampFilter",
                  "in": "query",
                  "description": "Filter by LastModifiedTimeStamp (allows additional filter operators as per above)",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "publishFlagFilter",
                  "in": "query",
                  "description": "Filter by PublishFlag",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "courseOfferStartDateFilter",
                  "in": "query",
                  "description": "Filter by CourseOfferStartDate (allows additional filter operators as per above)",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "skip",
                  "in": "query",
                  "description": "Number of records to skip",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "take",
                  "in": "query",
                  "description": "Number of records to take",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/CourseOfferItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/course-offers/{id}": {
         "get": {
            "tags": [
               "CourseOffer"
            ],
            "summary": "Get CourseOffer by Id",
            "description": "Returns a single Course Offer record for a given CourseOfferId.",
            "operationId": "GetCourseOffer",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the CourseOffer",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/CourseOfferItem"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Course Offer not found"
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/course-offers/list/{id}": {
         "get": {
            "tags": [
               "CourseOffer"
            ],
            "summary": "Get CourseOffer by Id",
            "description": "Returns a single short Course Offer record for a given CourseOfferId.",
            "operationId": "GetCourseOfferList",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the CourseOffer",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/CourseOfferBasicItem"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Course Offer not found"
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/credentials": {
         "get": {
            "tags": [
               "Credential"
            ],
            "summary": "Get Credentials",
            "description": "Returns all credentials",
            "operationId": "GetCredentials",
            "parameters": [
               {
                  "name": "credentialIdFilter",
                  "in": "query",
                  "description": "Filter by CredentialId",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "courseEnrolmentIdFilter",
                  "in": "query",
                  "description": "Filter by CourseEnrolmentId",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "credentialNumberFilter",
                  "in": "query",
                  "description": "Filter by CredentialNumber",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "skip",
                  "in": "query",
                  "description": "Number of records to skip",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "take",
                  "in": "query",
                  "description": "Number of records to take",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "learnerIdFilter",
                  "in": "query",
                  "description": "Filter by LearnerId",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "credentialStatusIdFilter",
                  "in": "query",
                  "description": "Filter by CredentialStatusId",
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/CredentialItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/credentials/{id}": {
         "get": {
            "tags": [
               "Credential"
            ],
            "summary": "Get Credential by Id",
            "description": "Returns Credentials for the given id",
            "operationId": "GetCredentialsById",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the Credentials",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/CredentialItem"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Credential not found"
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/document-file/": {
         "post": {
            "tags": [
               "DocumentFile"
            ],
            "summary": "Create a File",
            "description": "Get a URL for uploading files. See Documents and Files section above.",
            "operationId": "CreateDocumentFile",
            "requestBody": {
               "description": "File upload information",
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/DocumentFileUploadRequest"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/DocumentFileUploadResponse"
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/document-file/{id}": {
         "get": {
            "tags": [
               "DocumentFile"
            ],
            "summary": "Get a URL for Downloading a File",
            "description": "Returns response containing a URL to download the file for the given documentId. See Documents and Files section above.",
            "operationId": "GetDocumentFile",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the Document",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/DocumentFile"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Document not found"
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/element-enrolments": {
         "get": {
            "tags": [
               "ElementEnrolment"
            ],
            "summary": "Get ElementEnrolments",
            "description": "Returns all ElementEnrolment records",
            "operationId": "GetElementEnrolments",
            "parameters": [
               {
                  "name": "learnerIdFilter",
                  "in": "query",
                  "description": "Filter by LearnerId",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "courseEnrolmentIdFilter",
                  "in": "query",
                  "description": "Filter by CourseEnrolmentId",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "unitEnrolmentIdFilter",
                  "in": "query",
                  "description": "Filter by UnitEnrolmentId",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "lastModifiedTimeStampFilter",
                  "in": "query",
                  "description": "Filter by LastModifiedTimeStamp",
                  "schema": {
                     "type": "string",
                     "format": "date-time"
                  }
               },
               {
                  "name": "skip",
                  "in": "query",
                  "description": "Number of records to skip",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "take",
                  "in": "query",
                  "description": "Number of records to take",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "learnerNumberFilter",
                  "in": "query",
                  "description": "Filter by Learner Number",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "unitCodeFilter",
                  "in": "query",
                  "description": "Filter by Unit Code",
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/ElementEnrolmentItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/element-enrolments/{id}": {
         "patch": {
            "tags": [
               "ElementEnrolment"
            ],
            "summary": "Patch ElementEnrolment",
            "description": "Updates defined Element Enrolment fields for a Element Enrolment record for a given ElementEnrolmentId.",
            "operationId": "PatchElementEnrolment",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the ElementEnrolment",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "requestBody": {
               "description": "JSON Patch Document operations to perform on course enrolment",
               "content": {
                  "application/json": {
                     "schema": {
                        "type": "array",
                        "items": {
                           "$ref": "#/components/schemas/PatchDocument"
                        }
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ElementEnrolmentItem"
                        }
                     }
                  }
               },
               "404": {
                  "description": "ElementEnrolment not found"
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/entities": {
         "get": {
            "tags": [
               "Entity"
            ],
            "summary": "Get Entities",
            "description": "Returns all Entities",
            "operationId": "GetEntities",
            "parameters": [
               {
                  "name": "skip",
                  "in": "query",
                  "description": "Number of records to skip",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "take",
                  "in": "query",
                  "description": "Number of records to take",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/EntityItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/filenotes/{id}": {
         "get": {
            "tags": [
               "Filenote"
            ],
            "summary": "Get Filenote by Id",
            "description": "Returns a single Filenote record for a given FilenoteId.",
            "operationId": "GetFilenote",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the Filenote",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/FilenoteItem"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Filenote not found"
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         },
         "put": {
            "tags": [
               "Filenote"
            ],
            "summary": "Replace a Filenote",
            "description": "Replaces a Filenote for the given FilenoteId",
            "operationId": "ReplaceFilenote",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of Filenote to replace",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "requestBody": {
               "description": "New Filenote object to replace Filenote with",
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/Filenote"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/FilenoteItem"
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/filenotes": {
         "get": {
            "tags": [
               "Filenote"
            ],
            "summary": "Get Filenotes",
            "description": "Returns all Filenotes for a given EntityName and RecordId",
            "operationId": "GetFilenotes",
            "parameters": [
               {
                  "name": "lastModifiedTimeStampFilter",
                  "in": "query",
                  "description": "Filter by LastModifiedTimeStamp (allows additional filter operators as per above)",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "entityNameFilter",
                  "in": "query",
                  "description": "Filter by EntityName",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "recordIdFilter",
                  "in": "query",
                  "description": "Filter by RecordId",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "skip",
                  "in": "query",
                  "description": "Number of records to skip",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "take",
                  "in": "query",
                  "description": "Number of records to take",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/FilenoteItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         },
         "post": {
            "tags": [
               "Filenote"
            ],
            "summary": "Create Filenote",
            "description": "Add a Filenote record",
            "operationId": "CreateFilenote",
            "requestBody": {
               "description": "Filenotes objects to add.",
               "content": {
                  "application/json": {
                     "schema": {
                        "type": "array",
                        "items": {
                           "$ref": "#/components/schemas/Filenote"
                        }
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "201": {
                  "description": "Created",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/FilenoteItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred."
               }
            },
            "x-public": true
         }
      },
      "/invoices": {
         "get": {
            "tags": [
               "Invoice"
            ],
            "summary": "Get Invoices",
            "operationId": "GetInvoices",
            "parameters": [
               {
                  "name": "learnerIdFilter",
                  "in": "query",
                  "description": "Learner ID Filter.",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "skip",
                  "in": "query",
                  "description": "Number of records to skip",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "take",
                  "in": "query",
                  "description": "Number of records to take",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/InvoiceItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/invoices/{id}": {
         "get": {
            "tags": [
               "Invoice"
            ],
            "summary": "Get Invoice by Id",
            "operationId": "GetInvoice",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the Invoice",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/InvoiceItem"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Invoice not found"
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         },
         "put": {
            "tags": [
               "Invoice"
            ],
            "summary": "Replace an existing Invoice or Create a new one if Invoice not found",
            "operationId": "ReplaceInvoice",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the Invoice",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "requestBody": {
               "description": "The source.",
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/Invoice"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/InvoiceItem"
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         },
         "delete": {
            "tags": [
               "Invoice"
            ],
            "summary": "Delete Invoice",
            "operationId": "DeleteInvoice",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the Invoice",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "responses": {
               "204": {
                  "description": "NoContent"
               },
               "404": {
                  "description": "Invoice not found"
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/language-literacy-numeracy": {
         "get": {
            "tags": [
               "LanguageLiteracyNumeracy"
            ],
            "summary": "Get LanguageLiteracyNumeracies",
            "description": "Returns all LanguageLiteracyNumeracy records",
            "operationId": "GetLanguageLiteracyNumeracies",
            "parameters": [
               {
                  "name": "courseEnrolmentIdFilter",
                  "in": "query",
                  "description": "Filter by CourseEnrolmentId",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "lastModifiedTimeStampFilter",
                  "in": "query",
                  "description": "Filter by LastModifiedTimeStamp",
                  "schema": {
                     "type": "string",
                     "format": "date-time"
                  }
               },
               {
                  "name": "skip",
                  "in": "query",
                  "description": "Number of records to skip",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "take",
                  "in": "query",
                  "description": "Number of records to take",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/LanguageLiteracyNumeracyItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         },
         "post": {
            "tags": [
               "LanguageLiteracyNumeracy"
            ],
            "summary": "Create LanguageLiteracyNumeracies",
            "description": "Creates LanguageLiteracyNumeracy records",
            "operationId": "CreateLanguageLiteracyNumeracies",
            "requestBody": {
               "description": "LanguageLiteracyNumeracies objects to add",
               "content": {
                  "application/json": {
                     "schema": {
                        "type": "array",
                        "items": {
                           "$ref": "#/components/schemas/LanguageLiteracyNumeracy"
                        }
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "201": {
                  "description": "Created",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/LanguageLiteracyNumeracyItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/language-literacy-numeracy/{id}": {
         "put": {
            "tags": [
               "LanguageLiteracyNumeracy"
            ],
            "summary": "Replace LanguageLiteracyNumeracy",
            "description": "Replaces a LanguageLiteracyNumeracy for the given LanguageLiteracyNumeracyId.",
            "operationId": "ReplaceLanguageLiteracyNumeracy",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the LanguageLiteracyNumeracy",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "requestBody": {
               "description": "New object to replace LanguageLiteracyNumeracy with",
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/LanguageLiteracyNumeracy"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/LanguageLiteracyNumeracyItem"
                        }
                     }
                  }
               },
               "404": {
                  "description": "LanguageLiteracyNumeracy not found"
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/learnersAU": {
         "get": {
            "tags": [
               "LearnerAu"
            ],
            "summary": "Returns all LearnerAU records.",
            "description": "Returns all LearnerAU records.",
            "operationId": "GetLearnersAU",
            "parameters": [
               {
                  "name": "search",
                  "in": "query",
                  "description": "This does a string search on the FirstName and LastName",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "lastModifiedTimeStampFilter",
                  "in": "query",
                  "description": "Filter by LastModifiedTimeStamp (allows additional filter operators as per above)",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "isActiveFilter",
                  "in": "query",
                  "description": "Filter by IsActive",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "syncToXeroFilter",
                  "in": "query",
                  "description": "Filter by SyncToXero",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "learnerNumberFilter",
                  "in": "query",
                  "description": "Filter by LearnerNumber (RefInternal)",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "emailAddressFilter",
                  "in": "query",
                  "description": "Filter by Email Address",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "mobileFilter",
                  "in": "query",
                  "description": "Filter by Mobile Number",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "learnerAlt1NumberFilter",
                  "in": "query",
                  "description": "Filter by Learner Alt 1 Number",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "learnerAlt2NumberFilter",
                  "in": "query",
                  "description": "Filter by Learner Alt 2 Number",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "uniqueStudentIdentifierFilter",
                  "in": "query",
                  "description": "Filter by UniqueStudentIdentifierFilter",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "skip",
                  "in": "query",
                  "description": "Number of records to skip",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "take",
                  "in": "query",
                  "description": "Number of records to take",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/LearnerAuItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         },
         "post": {
            "tags": [
               "LearnerAu"
            ],
            "summary": "Post LearnersAU",
            "description": "Add a LearnerAU record.",
            "operationId": "PostLearnersAU",
            "requestBody": {
               "description": "The learners.",
               "content": {
                  "application/json": {
                     "schema": {
                        "type": "array",
                        "items": {
                           "$ref": "#/components/schemas/LearnerAu"
                        }
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/LearnerAuItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/learnersAU/{id}": {
         "get": {
            "tags": [
               "LearnerAu"
            ],
            "summary": "Get LearnerAu by Id",
            "description": "Returns a single LearnerAU record for a given LearnerId.",
            "operationId": "GetLearnerAU",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the LearnerAU",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/LearnerAuItem"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Learner not found"
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         },
         "put": {
            "tags": [
               "LearnerAu"
            ],
            "summary": "Replace LearnerAU",
            "description": "Replaces a LearnerAU record for a given LearnerId.",
            "operationId": "ReplaceLearnerAU",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the LearnerAU",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "requestBody": {
               "description": "New learner object to replace learner with",
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/LearnerAu"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/LearnerAuItem"
                        }
                     }
                  }
               }
            },
            "x-public": true
         },
         "patch": {
            "tags": [
               "LearnerAu"
            ],
            "summary": "Patch LearnerAU",
            "description": "Updates defined LearnerAU fields for a LearnerAU record for a given LearnerId.",
            "operationId": "PatchLearnerAU",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the LearnerAU",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "requestBody": {
               "description": "Json Patch Document operations to perform on learner",
               "content": {
                  "application/json": {
                     "schema": {
                        "type": "array",
                        "items": {
                           "$ref": "#/components/schemas/PatchDocument"
                        }
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/LearnerAu"
                        }
                     }
                  }
               }
            },
            "x-public": true
         }
      },
      "/learnersAU/{id}/personal": {
         "get": {
            "tags": [
               "LearnerAu"
            ],
            "summary": "Get LearnerAuPersonal by Id",
            "description": "Returns a single LearnerAU record’s personal details for a given LearnerId.",
            "operationId": "GetLearnerAUPersonal",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the LearnerAUPersonal",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/LearnerAuPersonalItem"
                        }
                     }
                  }
               }
            },
            "x-public": true
         },
         "put": {
            "tags": [
               "LearnerAu"
            ],
            "summary": "Replace LearnerAUPersonal",
            "description": "Replace a LearnerAU record’s personal details for a given LearnerId",
            "operationId": "ReplaceLearnerAUPersonal",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the LearnerAUPersonal",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "requestBody": {
               "description": "Source learner personal object to replace target learner's personal fields",
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/LearnerAuPersonal"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/LearnerAuPersonalItem"
                        }
                     }
                  }
               }
            },
            "x-public": true
         }
      },
      "/learnersAU/list": {
         "get": {
            "tags": [
               "LearnerAu"
            ],
            "summary": "Get Basic Learner List",
            "description": "Returns a list of basic learners with the option to filter",
            "operationId": "GetLearnerAuList",
            "parameters": [
               {
                  "name": "learnerNumberFilter",
                  "in": "query",
                  "description": "Filter by LearnerNumber (RefInternal)",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "learnerUsernameFilter",
                  "in": "query",
                  "description": "Filter by LearnerUsername (PortalUsername)",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "lastModifiedTimeStampFilter",
                  "in": "query",
                  "description": "Filter by LastModifiedTimeStamp (allows additional filter operators as per above)",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "syncToXeroFilter",
                  "in": "query",
                  "description": "Filter by SyncToXero",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "isActiveFilter",
                  "in": "query",
                  "description": "Filter by IsActive",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "usiRequiresValidationFilter",
                  "in": "query",
                  "description": "Filter by Usi validation",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "search",
                  "in": "query",
                  "description": "This does a string search on the FirstName and LastName",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "uniqueStudentIdentifierFilter",
                  "in": "query",
                  "description": "Filter by UniqueStudentIdentifierFilter",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "skip",
                  "in": "query",
                  "description": "Number of records to skip",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "take",
                  "in": "query",
                  "description": "Number of records to take",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/LearnerBasic"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/learnersNZ": {
         "get": {
            "tags": [
               "LearnerNz"
            ],
            "summary": "Get LearnersNZ",
            "description": "Returns all LearnerNZ records.",
            "operationId": "GetLearnersNZ",
            "parameters": [
               {
                  "name": "search",
                  "in": "query",
                  "description": "This does a string search on the FirstName and LastName",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "lastModifiedTimeStampFilter",
                  "in": "query",
                  "description": "Filter by LastModifiedTimeStamp (allows additional filter operators as per above)",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "isActiveFilter",
                  "in": "query",
                  "description": "Filter by IsActive",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "syncToXeroFilter",
                  "in": "query",
                  "description": "Filter by SyncToXero",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "learnerNumberFilter",
                  "in": "query",
                  "description": "Filter by LearnerNumber (RefInternal)",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "emailAddressFilter",
                  "in": "query",
                  "description": "Filter by Email Address",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "mobileFilter",
                  "in": "query",
                  "description": "Filter by Mobile Number",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "learnerAlt1NumberFilter",
                  "in": "query",
                  "description": "Filter by Learner Alt 1 Number",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "learnerAlt2NumberFilter",
                  "in": "query",
                  "description": "Filter by Learner Alt 2 Number",
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "skip",
                  "in": "query",
                  "description": "Number of records to skip",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               },
               {
                  "name": "take",
                  "in": "query",
                  "description": "Number of records to take",
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/LearnerNzItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         },
         "post": {
            "tags": [
               "LearnerNz"
            ],
            "summary": "Post LearnersNZ",
            "description": "Add a LearnerNZ record.",
            "operationId": "PostLearnersNZ",
            "requestBody": {
               "description": "The learners.",
               "content": {
                  "application/json": {
                     "schema": {
                        "type": "array",
                        "items": {
                           "$ref": "#/components/schemas/LearnerNz"
                        }
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/LearnerNzItem"
                           }
                        }
                     }
                  }
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         }
      },
      "/learnersNZ/{id}": {
         "get": {
            "tags": [
               "LearnerNz"
            ],
            "summary": "Get LearnerNz by Id",
            "description": "Returns a single LearnerNZ record for a given LearnerId.",
            "operationId": "GetLearnerNZ",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the LearnerNZ",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/LearnerNzItem"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Learner not found"
               },
               "500": {
                  "description": "Error occurred"
               }
            },
            "x-public": true
         },
         "put": {
            "tags": [
               "LearnerNz"
            ],
            "summary": "Replace LearnerNZ",
            "description": "Replace a LearnerNZ record for a given LearnerId.",
            "operationId": "ReplaceLearnerNZ",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "Id of the LearnerNZ",
                  "required": true,
                  "schema": {
                     "type": "integer",
                     "format": "int32"
                  }
               }
            ],
            "requestBody": {
               "description": "New learner object to replace learner with",
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/LearnerNz"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/LearnerNzItem"
                        }
                     }
                  }
               }
            },
            "x-public": true
         },
         "patch": {
            "tags": [
               "LearnerNz"
            ],
            "summary": "Patch LearnerNZ",
            "description": "Updates defined LearnerNZ fields for a LearnerNZ record for a given LearnerId.",
            "operationId": "PatchLearnerNZ",
            "parameters": [
               {
[...]
